# Although cloud-consul-observability is a subset of cloud-consul team, only members of
# the cloud-consul-observability team will be automatically requested for reviews.
* @hashicorp/cloud-consul-observability @hashicorp/cloud-consul

# release configuration
/.release/                              @hashicorp/release-engineering
/.github/workflows/build.yml            @hashicorp/release-engineering
